<%- include('includes/header.ejs') %>

    <link rel="stylesheet" href="/css/chatroom.css">
    <main>
        <div id="previews">
            <video id="local-video" autoplay playsinline>1</video>
            <!-- <video class="remote-video" autoplay playsinline>1</video>
        <video class="remote-video" autoplay playsinline>2</video>
        <video class="remote-video" autoplay playsinline>3</video> -->
        </div>

        <div id="active-speaker">

        </div>

        <div>
            <button id="call">Call</button>
            <button id="hangup">Hang up</button>
        </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chatroom.js" type="module"></script>


    <%- include('includes/footer.ejs') %>