main{
    display: block;
    margin-top: 20px;
}

#previews {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

video{
    height: 300px;
}

#local-video {
    background-color: aqua;
}

.remote-video {
    background-color:chartreuse;
}