main{
    flex-direction: column;
}

#previews {
    display: flex;
    height: 350px;
    width: 350px;
    gap: 5px;
}

#local-video {
    background-color: aqua;
}

.remote-video {
    background-color:chartreuse;
}